*{
    box-sizing: border-box;

}

body{
    background-color: pink;
    width: 350px;
    margin: auto;
}
h1{
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    border-bottom: 3pt solid black;
    display: inline;
    font-size: 70px;
    text-align: center;
    
}

#score{
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a{
    position: relative;
    bottom: 0;
    left: 100px;
    width: 300px;
    display: inline;
    text-align: center;
    
}
button{
    background-color: grey;
    border: gray;
}

#status, button{
    font-size: 20pt;
    font-family: 'Shadows Into Light', cursive;
}

.brief{
    font-size: 17pt;
    color: #fff;
    /* font-family: 'Shadows Into Light', cursive; */
    padding: 5%;
    border-bottom: 3pt solid black;
    text-align: center;
    font-family: "Raleway";
}

.container{
    overflow: hidden;
    margin:  auto 0 auto;   
}
            

.container .box{
    float: left;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 85px;
    text-align: center;
    line-height: 100px; 
    cursor: pointer;
}

            
.container .box:hover{
    background: rgba(0, 0, 0, 0.5);
     color: rgb(225, 225,225)
}
            

            
    .copyright, .message{
        font-family: "Raleway";
    }
    .copyright{
        float: left;
    }
    
    .message{
        float:right;
    }